/*
 * WIFI Info
 */

const char WiFiSSID[]   = "YOUR_SSID";
const char WiFiPSK[]    = "YOUR_PASSWORD";

/*
 * Phant auth tokens
 *
 * Output URL: https://<PHANT_HOST>:<PHANT_PORT>/output/<PHANT_PUBLIC_KEY>
 * Manage URL: https://<PHANT_HOST>:<PHANT_PORT>/streams/<PHANT_PUBLIC_KEY>
 */

const char PhantHost[]  = "data.sparkfun.com";
const int  PhantPort    = 80;

const char PublicKey[]  = "YOUR_PUBLIC_KEY";
const char PrivateKey[] = "YOUR_PRIVATE_KEY";
